@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.3em;

  color-scheme: light dark;
  color: #cd9602;
  background-color: #ff0000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #fcf7eb;
  text-decoration: inherit;
}
a:hover {
  color: #fcf7eb;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center;     /* horizontal center */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #db730b;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #cd9602;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #cd9602;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Cd9602	Middle yellow : Brand
Db730b	Middle orange : button letters
505f33	Middle green : Not quite sure but love it
79a1a3	Middle blue : Maybe some sort of header color
Fcf7eb	Off white : Overall background */
@layer theme {
  :root {
    --brand-main: #Cd9602;
    --brand-button: #Db730b;
    --brand-background: #505f33;
    --brand-background-2: #Fcf7eb;
    --brand-highlights: #79a1a3;
    --brand-other: #505f33;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #cd9602;
    background-color: var(--brand-background);
  }
  a:hover {
    color: var(--brand-highlights);
  }
  button {
    background-color: #cd9602;
  }
}
